.text{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background-color: coral;
    text-align: center;
    margin-top: 1px;
    border-radius: 5px;
    color: white;
}
.text1{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background-color: coral;
    text-align: center;
    margin-top: 1px;
    border-radius: 5px;
    color: white;
}
.text2{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background-color: coral;
    text-align: center;
    margin-top: 1px;
    border-radius: 5px;
    color: white;
}
.text3{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background-color: coral;
    text-align: center;
    margin-top: 1px;
    border-radius: 5px;
    color: white;
}
.text4{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background-color: coral;
    text-align: center;
    margin-top: 1px;
    border-radius: 5px;
    color: white;
}
.text5{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background-color: coral;
    text-align: center;
    margin-top: 1px;
    border-radius: 5px;
    color: white;
}
.text6{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background-color: coral;
    text-align: center;
    margin-top: 1px;
    border-radius: 5px;
    color: white;
}
.text7{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background-color: coral;
    text-align: center;
    border-radius: 5px;
    margin-top: 1px;
    color: white;
}
.text8{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background-color: coral;
    text-align: center;
    margin-top: 1px;
    border-radius: 5px ;
    color: white;
}
.text9{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background-color: coral;
    text-align: center;
    margin-top: 1px;
    border-radius: 5px ;
    color: white;
}
.text10{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    background-color: coral;
    text-align: center;
    margin-top: 1px;
    border-radius: 5px ;
    color: white;
}